HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Evitar subir configuración sensible (clave secreta JWT)
src/main/resources/application.properties

/src/main/resources/secrets/
*.json

# No subir configuraciones con credenciales reales

src/main/resources/application.yml
src/main/resources/secrets/
src/main/resources/firebase/
firebase-admin.json
serviceAccountKey.json


# Logs y dumps

*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.db
*.sql
*.sqlite
*.zip


# Archivos de entorno y secretos

.env
.env.*
*.env
*.key
*.pem
*.crt
*.keystore
*.jks